<!DOCTYPE html>
<html>
  <head>
    <title> All sources </title>
  </head>
  <body>
    <ul>
      {% for result in results %}
      <li>
        <a href="/sources/{{ result[0] }}"> {{ result[0] }} </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
